In [1]:
str = "'test'"

In [2]:
print(str)

'test'

In [5]:
print("'aaa', \"aaa\"")

'aaa', "aaa"

In [8]:
print('"aaa", \'bbb\'')

"aaa", 'bbb'

In [13]:
print("김준일\n" *3)

김준일
김준일
김준일

In [19]:
address = "부산 동래구 중앙대로 1285번길"

In [20]:
print(address[0])

부

In [26]:
print(address[:6])

부산 동래구

In [27]:
print(address[7:])

중앙대로 1285번길

In [28]:
names = ["김준일", "김준이", "김준삼", "김준사"]

In [41]:
print(names[0] [1:])
print(names[1] [1:])
print(names[2] [1:])
print(names[3] [1:])

준일
준이
준삼
준사

In [46]:
for i in range(len(names)):
    print(names[i] [1:])

준일
준이
준삼
준사

In [47]:
print(range(10))

range(0, 10)

In [49]:
username = "aaa"

sql = f"""
select
    *
from
    user_tb
where
    username = {username}
"""

print(sql)

select
    *
from
    user_tb
where
    username = aaa

In [61]:
name = "김김일"
print(name.count('김'))
print(name.find('이'))
print(name.index('일'))

2
-1
2

In [73]:
name = "김준일"
print(name)
print(" ".join(name))
print(name.join(" "))

김준일
김 준 일